

.bg-animate {
  animation: appear 1s ease-in-out forwards 1s;
  transition: all ease 0.5s;
}


@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




@keyframes move-text {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@keyframes slide-in-left {
  from {
    transform: translateX(-100%) skewY(0);
    opacity: 0;
  }
  to {
    transform: translateX(0) skewY(var(--skewY, 0));
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%) skewY(0);
    opacity: 0;
  }
  to {
    transform: translateX(0) skewY(var(--skewY, 0));
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.5s ease-in-out forwards;
}

.animate-slide-in-left {
  animation: slide-in-left 0.5s ease-in-out forwards;
}


.animated-shapes {
    animation: squareMove 10s var(--delay) ease-in-out infinite alternate;
}

@keyframes squareMove {
    from {
        transform: translateX(0);
    }
    to {
        background-color: var(--blue);
        transform: translateX(90vw);
    }
}