

.bg-animate {
  animation: appear 1s ease-in-out forwards 1s;
  transition: all ease 0.5s;
}


@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




@keyframes move-text {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@keyframes slide-in-left {
  from {
    transform: translateX(-100%) skewY(0);
    opacity: 0;
  }
  to {
    transform: translateX(0) skewY(var(--skewY, 0));
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%) skewY(0);
    opacity: 0;
  }
  to {
    transform: translateX(0) skewY(var(--skewY, 0));
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.5s ease-in-out forwards;
}

.animate-slide-in-left {
  animation: slide-in-left 0.5s ease-in-out forwards;
}


.animated-shapes {
    animation: squareMove 10s var(--delay) ease-in-out infinite alternate;
}

@keyframes squareMove {
    from {
        transform: translateX(0);
    }
    to {
        background-color: var(--blue);
        transform: translateX(90vw);
    }
}

.animated-shapes-l {
  animation: movementL 30s var(--delay, 1s) ease-in-out infinite alternate;
}
.animated-shapes-up-down {
  animation: movementUpDown 20s var(--delay, 1s) ease-in-out infinite alternate;
}

@keyframes movementUpDown {
  from {
    transform: translate(0);
  }
  to {
    transform: translateY(50vh);
  }
}

@keyframes movementL {
  0% {
    transform: translate(0,0);
  }
  25%{
    transform: translate(100vw, 0);
  }
  50% {
    transform: translate(0, 30vh);
  }

  70% {
    transform: translate(-25vw, 0);
  }

  75% {
    transform: translate(0, -30vh);
  }

  85%{
    transform: translate(-50vw, 0);
  }

  100%{
    transform: translate(0, 0);
  }
}


.animate-ud {
   animation: moving 10s var(--delay, 1s) ease-in-out infinite alternate;
}

@keyframes moving {
  0% {
    transform: translateY(0,0);
  }
  /* top left */
  25%{
    transform: translate(0,-110px);
  }
  /* top right */
  50%{
    transform: translate(600px,-110px);
  }
  /* bottom right */
  75%{
    transform: translate(600px, 0);
  }
  100%{
    transform: translate(0,0);
  }
}